In [5]:
%matplotlib inline

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
data_90s = pd.read_csv('nfl_1990s.csv')
data_00s = pd.read_csv('nfl_2000s.csv')
data_10s = pd.read_csv('nfl_2010s.csv')
print('90\'s Players:   ', len(data_90s))
print('2000\'s Playrers:', len(data_00s))
print('2010\'s Players: ', len(data_10s))
print('Total: ', len(data_90s)+len(data_00s)+len(data_10s))

90's Players:    2296
2000's Playrers: 3482
2010's Players:  2532
Total:  8310

In [32]:
new_df = data_90s.append(data_00s, sort=False)
new_df = new_df.append(data_10s, sort=False)

In [34]:
new_df = new_df.drop(['Rk', 'Unnamed: 0'], axis=1)

In [35]:
new_df.head()

,Unnamed: 1,Tm,Age,Pos,G,GS,Att,Yds,TD,Lng,...,TD.1,Lng.1,R/G,Y/G.1,Ctch%,Touch,Y/Tch,YScm,RRTD,Fmb
0,Edgerrin James*+\JameEd00,IND,21,RB,16,16,369,1553,13,72,...,4.0,54.0,3.9,36.6,75.6%,431,5.0,2139,17,8
1,Curtis Martin\MartCu00,NYJ,26,RB,16,16,367,1464,5,50,...,0.0,34.0,2.8,16.2,91.8%,412,4.2,1723,5,2
2,Emmitt Smith*\SmitEm00,DAL,30,RB,15,15,329,1397,11,63,...,2.0,14.0,1.8,7.9,84.4%,356,4.3,1516,13,5
3,Duce Staley\StalDu00,PHI,24,RB,16,16,325,1273,4,29,...,2.0,19.0,2.6,18.4,62.1%,366,4.3,1567,6,5
4,Ricky Watters\WattRi00,SEA,30,RB,16,16,325,1210,5,45,...,2.0,25.0,2.5,24.2,64.5%,365,4.4,1597,7,4

In [36]:
#new_df.to_csv('football_complete.csv')

In [89]:
new_df = pd.read_csv('football_complete.csv')

In [90]:
new_df.head()

,Unnamed: 0,Unnamed: 1,Tm,Age,Pos,G,GS,Att,Yds,TD,...,TD.1,Lng.1,R/G,Y/G.1,Ctch%,Touch,Y/Tch,YScm,RRTD,Fmb
0,0,Edgerrin James*+\JameEd00,IND,21,RB,16,16,369,1553,13,...,4.0,54.0,3.9,36.6,75.6%,431,5.0,2139,17,8
1,1,Curtis Martin\MartCu00,NYJ,26,RB,16,16,367,1464,5,...,0.0,34.0,2.8,16.2,91.8%,412,4.2,1723,5,2
2,2,Emmitt Smith*\SmitEm00,DAL,30,RB,15,15,329,1397,11,...,2.0,14.0,1.8,7.9,84.4%,356,4.3,1516,13,5
3,3,Duce Staley\StalDu00,PHI,24,RB,16,16,325,1273,4,...,2.0,19.0,2.6,18.4,62.1%,366,4.3,1567,6,5
4,4,Ricky Watters\WattRi00,SEA,30,RB,16,16,325,1210,5,...,2.0,25.0,2.5,24.2,64.5%,365,4.4,1597,7,4

In [91]:
# New stuff starts here

In [92]:
new_df = new_df.fillna(0)

In [93]:
new_df = new_df.sort_values(by=['Yds', 'RRTD', 'Age'], ascending=False)

In [94]:
age_22 = new_df.loc[(new_df['Age']==22) & (new_df['GS']>9)]

In [95]:
age_22.head(2)

,Unnamed: 0,Unnamed: 1,Tm,Age,Pos,G,GS,Att,Yds,TD,...,TD.1,Lng.1,R/G,Y/G.1,Ctch%,Touch,Y/Tch,YScm,RRTD,Fmb
5460,3164,Edgerrin James*\JameEd00,IND,22,RB,16,16,387,1709,13,...,5.0,60.0,3.9,37.1,72.4%,450,5.1,2303,18,5
4523,2227,Clinton Portis*\PortCl00,DEN,22,RB,13,13,290,1591,14,...,0.0,72.0,2.9,24.2,74.5%,328,5.8,1905,14,3

In [96]:
age_22.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Tm', 'Age', 'Pos', 'G', 'GS', 'Att', 'Yds',
       'TD', 'Lng', 'Y/A', 'Y/G', 'A/G', 'Tgt', 'Rec', 'Yds.1', 'Y/R', 'TD.1',
       'Lng.1', 'R/G', 'Y/G.1', 'Ctch%', 'Touch', 'Y/Tch', 'YScm', 'RRTD',
       'Fmb'],
      dtype='object')

In [97]:
new_df['t_pts'] = (new_df['Rec'] + new_df['RRTD']*6 + new_df['YScm']*.1)
new_df['f_ppg'] = (new_df['t_pts']/new_df['G']).round(1)

In [98]:
new_df = new_df.drop(['Unnamed: 0'], axis=1)

In [180]:
def name_split(name):
    name = name.split('\\')[0]
    return name
#new_df['Unnamed: 1'] = new_df.apply(lambda row: name_split(row['Unnamed: 1']), axis=1)

In [181]:
def name_strip(name):
    name = name.strip('*+\\')
    return name
#new_df['Unnamed: 1'] = new_df.apply(lambda row: name_strip(row['Unnamed: 1']), axis=1)

In [182]:
def catch_to_float(name):
    if type(name)==str:
        name =name.strip('%')
    name = float(name)
    return name
#new_df['Ctch%'] = new_df.apply(lambda row: catch_to_float(row['Ctch%']), axis=1)

In [110]:
new_df.head()

,Unnamed: 1,Age,G,GS,Att,Yds,TD,Lng,Y/A,Y/G,...,R/G,Y/G.1,Ctch%,Touch,Y/Tch,YScm,RRTD,Fmb,t_pts,f_ppg
Player,,,,,,,,,,,,,,,,,,,,,
7354,Adrian Peterson,27,16,16,348,2097,12,82,6.0,131.1,...,2.5,13.6,78.4,388,6.0,2314,13,4,349.4,21.8
4511,Jamal Lewis,24,16,16,387,2066,14,82,5.3,129.1,...,1.6,12.8,68.4,413,5.5,2271,14,8,337.1,21.1
606,Barry Sanders,29,16,16,335,2053,11,82,6.1,128.3,...,2.1,19.1,66.0,368,6.4,2358,14,3,352.8,22.0
310,Terrell Davis,26,16,16,392,2008,21,70,5.1,125.5,...,1.6,13.6,65.8,417,5.3,2225,23,2,385.5,24.1
2296,Chris Johnson,24,16,16,358,2006,14,91,5.6,125.4,...,3.1,31.4,70.4,408,6.1,2509,16,3,396.9,24.8

In [103]:
#new_df = new_df.set_index('Unnamed: 1')

In [104]:
len(new_df)

8310

In [105]:
new_df.index.name = 'Player'

In [106]:
new_df = new_df.drop(labels=['Pos', 'Tm'], axis=1)

In [108]:
#new_df['Pos'].unique()

In [109]:
new_df.to_csv('football_comps.csv')

In [148]:
a = pd.Series(new_df.index)
b = new_df['Unnamed: 1']
lookup_df = pd.DataFrame()

In [150]:
lookup_df['Name'] = b
lookup_df.set_index(a)
lookup_df.head()

                   Name
Player
7354    Adrian Peterson
4511        Jamal Lewis
606       Barry Sanders
310       Terrell Davis
2296      Chris Johnson

In [151]:
lookup_df.to_csv('fb_lookup.csv', index_label='Player')

In [154]:
test_df = pd.read_csv('fb_lookup.csv')
test_df = test_df.set_index('Player')
test_df.head()

                   Name
Player
7354    Adrian Peterson
4511        Jamal Lewis
606       Barry Sanders
310       Terrell Davis
2296      Chris Johnson

In [169]:
def name_to_index(name, age):
    subset = test_df.loc[(test_df['Name']==name)]
    answer = subset.index.tolist()
    return answer

In [197]:
name_to_index('Alvin Kamara', 23)

[5815]

In [193]:
players_lookup = pd.read_csv('../2017.csv')

In [196]:
players_lookup.head(2)

,Rk,Unnamed: 1,Tm,Age,Pos,G,GS,Att,Yds,TD,...,TD.1,Lng.1,R/G,Y/G.1,Ctch%,Touch,Y/Tch,YScm,RRTD,Fmb
0,1,Le'Veon Bell,PIT,25,RB,15,15,321,1291,9,...,2.0,42.0,5.7,43.7,80.2,406,4.8,1946,11,3
1,2,LeSean McCoy,BUF,29,RB,16,16,287,1138,6,...,2.0,39.0,3.7,28.0,76.6,346,4.6,1586,8,3

In [195]:
players_lookup['Unnamed: 1'] = players_lookup.apply(lambda row: name_split(row['Unnamed: 1']), axis=1)
players_lookup['Unnamed: 1'] = players_lookup.apply(lambda row: name_strip(row['Unnamed: 1']), axis=1)
players_lookup['Ctch%'] = players_lookup.apply(lambda row: catch_to_float(row['Ctch%']), axis=1)

In [199]:
age = 22
players_lookup.loc[(players_lookup['Age']==age)]

#players_lookup.iloc[0]['RRTD']

,Rk,Unnamed: 1,Tm,Age,Pos,G,GS,Att,Yds,TD,...,TD.1,Lng.1,R/G,Y/G.1,Ctch%,Touch,Y/Tch,YScm,RRTD,Fmb
5,6,Kareem Hunt,KAN,22,RB,16,16,272,1327,8,...,3.0,78.0,3.3,28.4,84.1,325,5.5,1782,11,1
6,7,Leonard Fournette,JAX,22,RB,13,13,268,1040,9,...,1.0,28.0,2.8,23.2,75.0,304,4.4,1342,10,2
9,10,Ezekiel Elliott,DAL,22,RB,10,10,242,983,7,...,2.0,72.0,2.6,26.9,68.4,268,4.7,1252,9,1
25,26,Samaje Perine,WAS,22,RB,16,8,175,603,1,...,1.0,25.0,1.4,11.4,91.7,197,4.0,785,2,2
32,33,Jamaal Williams,GNB,22,rb,16,7,153,556,4,...,2.0,54.0,1.6,16.4,73.5,178,4.6,818,6,0
37,38,Alvin Kamara,NOR,22,fb/rb,16,3,120,728,8,...,5.0,40.0,5.1,51.6,81.0,201,7.7,1554,13,1
45,46,Matt Breida,SFO,22,NaN,16,0,105,465,2,...,1.0,32.0,1.3,11.3,58.3,126,5.1,645,3,1
51,52,Tarik Cohen,CHI,22,rb/wr,16,4,87,370,2,...,1.0,70.0,3.3,22.1,74.6,140,5.2,723,3,3
60,61,Dalvin Cook,MIN,22,rb,4,4,74,354,2,...,0.0,36.0,2.8,22.5,68.8,85,5.2,444,2,1
86,87,Austin Ekeler,LAC,22,NaN,16,0,47,260,2,...,3.0,38.0,1.7,17.4,77.1,74,7.3,539,5,2
102,103,Deshaun Watson,HOU,22,qb,7,6,36,269,2,...,NaN,NaN,NaN,NaN,NaN,36,7.5,269,2,3
106,107,James Conner,PIT,22,NaN,14,0,32,144,0,...,0.0,0.0,0.0,0.0,0.0,32,4.5,144,0,0
148,149,Brian Hill,2TM,22,NaN,7,0,11,37,0,...,0.0,34.0,0.3,5.1,100.0,13,5.6,73,0,0
170,171,Taywan Taylor,TEN,22,wr,16,4,8,43,0,...,1.0,53.0,1.0,14.4,57.1,24,11.4,274,1,0
177,178,Patrick Mahomes,KAN,22,qb,1,1,7,10,0,...,NaN,NaN,NaN,NaN,NaN,7,1.4,10,0,0
196,197,Adoree' Jackson,TEN,22,CB,16,16,5,55,0,...,0.0,0.0,0.0,0.0,0.0,5,11.0,55,0,1
221,222,LeShun Daniels,WAS,22,NaN,4,0,3,14,0,...,NaN,NaN,NaN,NaN,NaN,3,4.7,14,0,0
232,233,Jesus Wilson,TAM,22,wr,3,1,3,8,0,...,1.0,18.0,0.3,6.0,100.0,4,6.5,26,1,0
233,234,Jamal Agnew,DET,22,NaN,13,0,2,9,0,...,0.0,12.0,0.2,1.4,100.0,4,6.8,27,0,3
274,275,Pharoh Cooper,LAR,22,wr,16,1,1,6,0,...,0.0,26.0,0.7,5.3,57.9,12,7.5,90,0,3
276,277,Justin Davis,LAR,22,NaN,4,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,1,1.0,1,0,0
299,300,Isaiah McKenzie,DEN,22,NaN,11,0,1,4,0,...,0.0,14.0,0.4,2.6,30.8,5,6.6,33,0,6