In [5]:
%matplotlib inline

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
data_90s = pd.read_csv('nfl_1990s.csv')
data_00s = pd.read_csv('nfl_2000s.csv')
data_10s = pd.read_csv('nfl_2010s.csv')
print('90\'s Players:   ', len(data_90s))
print('2000\'s Playrers:', len(data_00s))
print('2010\'s Players: ', len(data_10s))
print('Total: ', len(data_90s)+len(data_00s)+len(data_10s))

90's Players:    2296
2000's Playrers: 3482
2010's Players:  2532
Total:  8310

In [32]:
new_df = data_90s.append(data_00s, sort=False)
new_df = new_df.append(data_10s, sort=False)

In [34]:
new_df = new_df.drop(['Rk', 'Unnamed: 0'], axis=1)

In [35]:
new_df.head()

,Unnamed: 1,Tm,Age,Pos,G,GS,Att,Yds,TD,Lng,...,TD.1,Lng.1,R/G,Y/G.1,Ctch%,Touch,Y/Tch,YScm,RRTD,Fmb
0,Edgerrin James*+\JameEd00,IND,21,RB,16,16,369,1553,13,72,...,4.0,54.0,3.9,36.6,75.6%,431,5.0,2139,17,8
1,Curtis Martin\MartCu00,NYJ,26,RB,16,16,367,1464,5,50,...,0.0,34.0,2.8,16.2,91.8%,412,4.2,1723,5,2
2,Emmitt Smith*\SmitEm00,DAL,30,RB,15,15,329,1397,11,63,...,2.0,14.0,1.8,7.9,84.4%,356,4.3,1516,13,5
3,Duce Staley\StalDu00,PHI,24,RB,16,16,325,1273,4,29,...,2.0,19.0,2.6,18.4,62.1%,366,4.3,1567,6,5
4,Ricky Watters\WattRi00,SEA,30,RB,16,16,325,1210,5,45,...,2.0,25.0,2.5,24.2,64.5%,365,4.4,1597,7,4

In [36]:
#new_df.to_csv('football_complete.csv')

In [7]:
new_df = pd.read_csv('football_complete.csv')

In [8]:
new_df.head()

,Unnamed: 0,Unnamed: 1,Tm,Age,Pos,G,GS,Att,Yds,TD,...,TD.1,Lng.1,R/G,Y/G.1,Ctch%,Touch,Y/Tch,YScm,RRTD,Fmb
0,0,Edgerrin James*+\JameEd00,IND,21,RB,16,16,369,1553,13,...,4.0,54.0,3.9,36.6,75.6%,431,5.0,2139,17,8
1,1,Curtis Martin\MartCu00,NYJ,26,RB,16,16,367,1464,5,...,0.0,34.0,2.8,16.2,91.8%,412,4.2,1723,5,2
2,2,Emmitt Smith*\SmitEm00,DAL,30,RB,15,15,329,1397,11,...,2.0,14.0,1.8,7.9,84.4%,356,4.3,1516,13,5
3,3,Duce Staley\StalDu00,PHI,24,RB,16,16,325,1273,4,...,2.0,19.0,2.6,18.4,62.1%,366,4.3,1567,6,5
4,4,Ricky Watters\WattRi00,SEA,30,RB,16,16,325,1210,5,...,2.0,25.0,2.5,24.2,64.5%,365,4.4,1597,7,4

In [9]:
# New stuff starts here

In [10]:
new_df = new_df.sort_values(by=['Yds', 'TD', 'Age'], ascending=False)

In [11]:
age_22 = new_df.loc[(new_df['Age']==22) & (new_df['GS']>9)]

In [12]:
age_22.head(2)

,Unnamed: 0,Unnamed: 1,Tm,Age,Pos,G,GS,Att,Yds,TD,...,TD.1,Lng.1,R/G,Y/G.1,Ctch%,Touch,Y/Tch,YScm,RRTD,Fmb
5460,3164,Edgerrin James*\JameEd00,IND,22,RB,16,16,387,1709,13,...,5.0,60.0,3.9,37.1,72.4%,450,5.1,2303,18,5
4523,2227,Clinton Portis*\PortCl00,DEN,22,RB,13,13,290,1591,14,...,0.0,72.0,2.9,24.2,74.5%,328,5.8,1905,14,3

In [13]:
age_22.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Tm', 'Age', 'Pos', 'G', 'GS', 'Att', 'Yds',
       'TD', 'Lng', 'Y/A', 'Y/G', 'A/G', 'Tgt', 'Rec', 'Yds.1', 'Y/R', 'TD.1',
       'Lng.1', 'R/G', 'Y/G.1', 'Ctch%', 'Touch', 'Y/Tch', 'YScm', 'RRTD',
       'Fmb'],
      dtype='object')

In [14]:
new_df['t_pts'] = (new_df['Rec'] + new_df['RRTD']*6 + new_df['YScm']*.1)
new_df['f_ppg'] = (new_df['t_pts']/new_df['G']).round(1)

In [15]:
new_df = new_df.drop(['Unnamed: 0'], axis=1)

In [16]:
def name_split(name):
    name = name.split('\\')[0]
    return name
new_df['Unnamed: 1'] = new_df.apply(lambda row: name_split(row['Unnamed: 1']), axis=1)

In [17]:
def name_strip(name):
    name = name.strip('*+\\')
    return name
new_df['Unnamed: 1'] = new_df.apply(lambda row: name_strip(row['Unnamed: 1']), axis=1)

In [18]:
def name_strip(name):
    name = float(name[:4])
    return name
new_df['Ctch%'] = new_df.apply(lambda row: name_strip(row['Ctch%']), axis=1)

TypeError: ("'float' object is not subscriptable", 'occurred at index 4216')

In [192]:
new_df.head()

,Unnamed: 1,Tm,Age,Pos,G,GS,Att,Yds,TD,Lng,...,R/G,Y/G.1,Ctch%,Touch,Y/Tch,YScm,RRTD,Fmb,t_pts,f_ppg
7354,Adrian Peterson,MIN,27,RB,16,16,348,2097,12,82,...,2.5,13.6,78.4%,388,6.0,2314,13,4,349.4,21.8
4511,Jamal Lewis,BAL,24,fb/RB,16,16,387,2066,14,82,...,1.6,12.8,68.4%,413,5.5,2271,14,8,337.1,21.1
606,Barry Sanders,DET,29,RB,16,16,335,2053,11,82,...,2.1,19.1,66.0%,368,6.4,2358,14,3,352.8,22.0
310,Terrell Davis,DEN,26,RB,16,16,392,2008,21,70,...,1.6,13.6,65.8%,417,5.3,2225,23,2,385.5,24.1
2296,Chris Johnson,TEN,24,RB,16,16,358,2006,14,91,...,3.1,31.4,70.4%,408,6.1,2509,16,3,396.9,24.8

In [193]:
new_df = new_df.set_index('Unnamed: 1')

In [194]:
len(new_df)

8310

In [195]:
new_df.index.name = 'Player'

In [196]:
#new_df = pd.get_dummies(new_df['Pos'])

In [197]:
new_df['Pos'].unique()

array(['RB', 'fb/RB', 'RB/tb', 'rb', 'rb/wr', nan, 'FB', 'RB/wr', 'QB',
       'KR/PR/RB', 'RB/te', 'FB/rb', 'fb/rb', 'KR/rb', 'KR', 'PR/RB',
       'QB/wr', 'fb', 'KR/RB', 'qb', 'WR', 'FB/te', 'PR/rb', 'KR/PR',
       'fb/KR/PR', 'wr', 'PR', 'fl/QB', 'KR/PR/rb', 'fb/TE', 'FB/wr',
       'fb/rb/te', 'fb/rb/wr', 'fb/WR', 'PR/WR', 'FL/WR', 'fb/wr', 'te',
       'fb/te', 'KR/WR', 'FL/wr', 'FB/rb/wr', 'SE/wr', 'P', 'fs/ss', 'CB',
       'KR/PR/WR', 'ss', 'KR/wr', 'SS', 'WR/wr', 'FS', 'TE', 'se', 's/ss',
       'se/wr', 'LB', 'rb/WR', 'FL/te', 'RT', 'FL', 'lb', 'LCB', 'te/wr',
       'fb/KR', 'K', 'fl/wr', 'se/WR', 'rb/TE/wr', 'SE', 's', 'fs/wr',
       'LILB', 'FB/rb/te', 'fl/WR', 'p', 'k/wr', 'P/QB', 'PR/wr', 'fl',
       'RCB', 'db', 'fl/se/WR', 'KR/PR/rcb', 'LB/lolb', 'KR/PR/wr',
       'FB/fl', 'rb/TE', 'cb', 'nt', 'dt/T', 'lb/wr', 'fs', 'lb/LOLB',
       'db/S', 'TE/te', 'mlb/RLB', 'LDT', 'RCB/wr', 'PR/RCB', 'LDT/rdt',
       'DE/dt', 'NT', 'de/NT', 'LG', 'C', 'cb/lcb/ss', 'lt/rg/RT',
       'KR/LCB/PR', 'DT', 'LLB', 'cb/rcb', 'ldt', 'k', 'RT/t', 'lcb/rcb',
       'LT', 'S', 'KR/RCB', 'cb/ss', 'fb/rb/te/wr', 'SE/WR', 'P/WR'],
      dtype=object)

In [1]:
new_df = new_df.fillna(0)

NameError: name 'new_df' is not defined